<div class="">
    <div class="header-section pt-2 w-100">
        <div class="profile-header text-center mt-3 pb-2">
            <div class="profile-img-container m-auto mt-3" style="width: 100px; height: 100px;">
                <img src="~/images/@Model.User.ImgProfile" class="rounded-circle" width="100" height="100" />
                <img src="~/images/@Model.User.Rank.ImgRank" alt="Rank" class="rank-badge" />
            </div>
            <h2>@($"Ciao, {Model.User.Name} {Model.User.Surname}")</h2>
        </div>


        <div class="d-md-none pb-3 container-fluid">
            <div class="btn-group w-100" role="group">
                <button class="btn btn-custom btn-outline-primary" v-on:click="selectedSection = 0" v-bind:class="{ 'active' : selectedSection == 0 }">Rank</button>
                <button class="btn btn-custom btn-outline-primary" v-on:click="selectedSection = 1" v-bind:class="{ 'active' : selectedSection == 1 }">Stats</button>
                <button class="btn btn-custom btn-outline-primary" v-on:click="selectedSection = 2" v-bind:class="{ 'active' : selectedSection == 2 }">Tornei</button>
                <button class="btn btn-custom btn-outline-primary" v-on:click="selectedSection = 3" v-bind:class="{ 'active' : selectedSection == 3 }">Premi</button>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-4">
        <div class="row">

            <div class="col-md-6 col-xl-3 mb-3 section-box" v-bind:class="{ 'active' : selectedSection == 0 }" id="section-rank">
				<h2 class="text-center">Il tuo Rank</h2>
                @{
                    string borderClass = Model.User.Rank.Id switch
                    {
                        1 => "rank-border-bronze",
                        2 => "rank-border-silver",
                        3 => "rank-border-gold",
                        4 => "rank-border-diamond",
                        _ => ""
                    };
                }
                <div style="background-color: #BFB9B9; width: 120px; height: 120px; border-radius: 50%;" class="m-auto mt-3 text-center @borderClass">
                    <img src="~/images/@Model.User.Rank.ImgRank" alt="Rank" class="mt-2" style="width: 90%; height: 90%;">
                </div>
                <p class="mt-3 text-center fw-bold">@Model.User.Rank.Points</p>

                <div>  
                    @if (Model.Subscription != null)  
                    {
                        @foreach (var sub in Model.Subscription)
                        {
                            var cardClass = sub.PointsGained > 0 ? "card-green" : "card-red";
                            var textClass = sub.PointsGained > 0 ? "text-success" : "text-danger";
                            var sign = sub.PointsGained > 0 ? "+" : "";

                            <div class="custom-card @cardClass">
                                <div class="fw-bold">@sub.Name</div>
                                <div>@sub.Point</div>
                                <div class="@($"{textClass} fw-bold")">@($"{sign}{sub.PointsGained}")</div>
                            </div>
                        }
                    }  
                    else  
                    {  
                        <p>Nessuna sottoscrizione disponibile.</p>  
                    }  
                </div>

            </div>


            <div class="col-md-6 col-xl-3 mb-3 section-box" v-bind:class="{ 'active' : selectedSection == 1 }" id="section-stats">
                <div class="card p-3">Contenuto Statistiche</div>
            </div>


            <div class="col-md-6 col-xl-3 mb-3 section-box" v-bind:class="{ 'active' : selectedSection == 2 }" id="section-tournaments">
                <div class="card p-3">Contenuto Tornei</div>
            </div>


            <div class="col-md-6 col-xl-3 mb-3 section-box" v-bind:class="{ 'active' : selectedSection == 3 }" id="section-awards">
                <div class="card p-3">Contenuto Premi</div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/js/bundle-vue.js" asp-append-version="true"></script>

    <script type="text/javascript">

        //var drawModel = new Tournaments.Draw.drawVueModel(JSON.parse(document.getElementById("Seed_JSON").innerText));

        new Vue({
            el: '#pageId',
            data: {
				selectedSection: 0,
            }
        });
    </script>
}

@section styles {
	<style>
        @@media (max-width: 767.98px) {
            .section-box {
                display: none;
            }

            .section-box.active {
                display: block !important;
            }

        }

        .profile-img-container {
            position: relative;
            width: 100px;
            height: 100px;
            display: inline-block;
        }

        .rank-badge {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 32px;
            height: 32px;
            border: 2px solid #fff;
            border-radius: 50%;
            background-color: #fff;
        }

        .header-section {
            background-color: #909090;
			border-bottom-left-radius: 15px;
			border-bottom-right-radius: 15px;
        }

        .btn-custom {
            background-color: #B8CDCD;
            color: black;
        }

        .btn-custom.active {
            background-color: #729D9D;
            color: #fff !important;
            font-weight: bold;
        }

        .btn-group .btn {
            margin-right: 0.5rem;
        }

        .btn-group .btn:last-child {
            margin-right: 0;
        }

        .custom-card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.5rem;
            border-radius: 10px;
            margin-bottom: 1rem;
        }

        .card-green {
            border: 2px solid green;
            background-color: white;
        }

        .card-red {
            border: 2px solid red;
            background-color: white;
        }

        .rank-border-bronze {
            border: 4px solid #cd7f32 !important;
        }

        .rank-border-silver {
            border: 4px solid #c0c0c0 !important;
        }

        .rank-border-gold {
            border: 4px solid #ffd700 !important;
        }

        .rank-border-diamond {
            border: 4px solid #5bc0eb !important;
        }
   

    </style>
}