@model ProgettoHMI.web.Features.Home.HomeViewModel
@{
    ViewData["Title"] = "SignIn";
}

<div>
    <header>
        <button>Nav Button</button>
        <h1>LOGO</h1>
        <form class="home-signin" action="@Url.Action(MVC.Login.Login())" id="signin-form" method="get">
            <button type="submit">Accedi</button>
        </form>
        <form class="home-signin" action="/SignIn/SignIn" id="signin-form" method="get">
            <button type="submit">Iscriviti</button>
        </form>
        <h1>Il sito che organizza i migliori tornei in Italia</h1>
        <h2>Pronto per una nuova sfida</h2>
        <form class="home-signin" action="/SignIn/SignIn" id="signin-form" method="get">
            <button type="submit">Partecipa Ora</button>
        </form>
    </header>

    <div id="carouselTopPlayers" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselTopPlayers" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
            @for(var i = 1; i < Model.Players.Length; ++i) {
                <button type="button" data-bs-target="#carouselTopPlayers" data-bs-slide-to="@i" aria-label="Slide @i"></button>
            }
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/accessibility.jpg" class="d-block w-100" alt="...">
                <p>@Model.Players[0].Name @Model.Players[0].Surname</p>
                <p>Punteggio: @Model.Players[0].Points</p>
                <img src="" />
            </div>

            @for (var i = 1; i < Model.Players.Length; ++i)
            {
                var player = Model.Players[i];

                <div class="carousel-item">
					<img src="~/accessibility.jpg" class="d-block w-100" alt="...">
                    <p>@player.Name @player.Surname</p>
                    <p>Punteggio: @player.Points</p>
                    <img src="" />
				</div>
			}
        </div>
		
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselTopPlayers" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselTopPlayers" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div id="carouselNextTournaments" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselNextTournaments" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
            @for (var i = 1; i < Model.Tournaments.Length; ++i)
            {
                <button type="button" data-bs-target="#carouselNextTournaments" data-bs-slide-to="@i" aria-label="Slide @i"></button>
            }
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/php.png" class="d-block w-100" alt="...">
				<p>@Model.Tournaments[0].TournamentName</p>
                <p>@Model.Tournaments[0].Date</p>
                <p>@Model.Tournaments[0].FieldName</p>
            </div>

            @for (var i = 1; i < Model.Players.Length; ++i)
            {
                var player = Model.Tournaments[i];

                <div class="carousel-item">
                    <img src="~/php.png" class="d-block w-100" alt="...">
                    <p>@player.TournamentName</p>
                    <p>@player.Date</p>
                    <p>@player.FieldName</p>
                </div>
            }
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselNextTournaments" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselNextTournaments" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>